.head {
    display: flex;
    list-style: none;
    box-sizing: border-box;
    // transform: scale(0.5);

    li {
        margin-left: 10px;

    }
}

/* 无用的css */
.afa {
    background-attachment: fixed;
    color: red
}

button {
    margin-left: 8px;
}